<div class ="post1 post2">
<div class ="createGroup">
<h1>Welcome User </h1>

<%= form_for :user, url:update_password_user_path , method: :post do |u| %>

<% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited
    this post from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<p><%= u.label :password %><br><%= u.password_field :password %></p>
<p><%= u.label :password_confirmation %><br><%= u.password_field :password_confirmation %></p>

<p><%= u.submit %></p>

 <% end %>
</div>
</div>